<div class="seller-layout">
    <p-menubar class="main-topbar">
        <ng-template pTemplate="start">
            <div class="brand">
                <i class="pi pi-shopping-cart shop-icon p-2"></i>
                <span class="title">Seller Center</span>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="topbar-actions">
                <!-- <span class="p-input-icon-left search-box">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search products, orders..." />
                </span> -->
                <!-- DARK MODE TOGGLE -->
                <!-- <p-inputSwitch [(ngModel)]="darkMode" (onChange)="toggleTheme()"></p-inputSwitch> -->
                <!-- <p-toggleSwitch [(ngModel)]="darkMode" (onChange)="toggleTheme()"></p-toggleSwitch> -->
                <button pButton label="Add Business" (click)="addBusiness()" icon="pi pi-user-plus"
                    class="bg-blue-500 border-white hover:bg-blue-600"></button>
                <!-- NOTIFICATION DROPDOWN -->
                <p-popover #notifPanel>
                    <h4>Notifications</h4>
                    <p-scrollPanel [style]="{ height: '250px' }">
                        @for(n of notifications; track n){
                        <div class="notif-item">
                            <p>{{n.message}}</p>
                        </div>
                        }
                    </p-scrollPanel>
                </p-popover>
                <i class="pi pi-bell bell-icon" (click)="notifPanel.toggle($event)"></i>
                <p-avatar label="S" Class="mr-2" shape="circle"></p-avatar>
            </div>
        </ng-template>
    </p-menubar>
    <!-- <p-breadcrumb [model]="breadcrumbItems" class="bread"></p-breadcrumb> -->
    <div class="layout-body">
        <div class="sidebar">
            <p-panelMenu [model]="items" class="w-full side-menu"></p-panelMenu>
        </div>
        <!-- <p-breadcrumb [model]="breadcrumbItems" class="bread"></p-breadcrumb> -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>